<h2>All of your bookmarks</h2>

<%= @current_user.bookmarks.each do |bookmark|  %>
<div class="bookmark">
<p><%= link_to "bookmark.review.title", review_bookmark_path(@bookmark) %></p>
  <% end %>
  </div>
